h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

@mixin typography($font-weight, $font-size, $line-height) {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

.content-title,
%content-title {
  @include typography(300, 36px, 46px);
}

.section-title,
%section-title {
  @include typography(300, 29px, 38px);
}

.page-header,
%page-header {
  @include typography(300, 23px, 30px);
}

.subsection-title,
%subsection-title {
  @include typography(700, 18px, 23px);
}

.subtitle,
%subtitle {
  @include typography(400, 15px, 20px);
}

.paragraph,
%paragraph {
  @include typography(400, 12px, 16px);
}

.button-text,
%button-text {
  @include typography(500, 12px, 16px);
  letter-spacing: 0.4px;
}

.table-header,
%table-header {
  @include typography(700, 10px, 13px);
  letter-spacing: 0.4px;
}

.label-text,
%label-text {
  @include typography(400, 10px, 13px);
}

.label-text-accessibility,
%label-text-accessibility {
  @include typography(400, 12px, 16px);
}

.input-text-accessibility,
%input-title-accessibility {
  @include typography(400, 14px, 18px);
}
