// Variables that we want to use from JS
:export {
  colorPrimaryMain: $color-primary-main;
  colorSecondaryMain: $color-secondary-main;
  colorLayoutWhite: $color-layout-white;
  colorLayoutDivider: $color-layout-divider;
  colorNeutralLighter: $color-neutral-lighter;
}
