.dropdown-field {
  .multiselect {
    width: inherit !important;

    &.multiselect--active {
      //prevent quick filters from overlapping by table header
      z-index: 5;

      // makes the arrow at the right flip while you open the dropdown
      .dropdown-field__caret {
        transform: rotate(180deg);
      }

      // outline for selected dropdown component
      .multiselect__tags {
        border-color: $color-secondary-main;
      }
    }

    // no options placeholder
    li:not(.multiselect__element) .multiselect__option {
      cursor: default;
      color: $color-neutral-lighter;

      &:hover {
        background-color: transparent;
      }
    }

    // This rule make multiselect__option elements to have a fixed width before
    // checking overflow text in the component directive add-tooltip-on-overflow.
    &__content {
      width: 0;
    }

    &__content-wrapper {
      border-color: $color-layout-divider;
    }

    &__placeholder {
      color: $color-neutral-lighter;
      font-size: 12px;
    }

    &__input {
      background-color: transparent;
      font-size: 12px;

      ::placeholder {
        color: transparent;
      }
    }

    &__tags {
      @extend %paragraph;
      border-radius: 4px !important;
      border: 1px solid $color-layout-divider;
      padding: $grid-base;
      padding-right: $input-heigth;
      font-size: 0;
      // move the input to the same row as option chips
      display: flex;
    }

    &__tags-wrap {
      line-height: 1;
      display: flex;
    }

    &__select {
      color: $color-neutral-lighter;
    }

    &__single {
      font-size: 12px;
      margin: 0;
      padding: 0;
      color: $color-neutral-darkest;
      max-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__option {
      color: $color-neutral-darkest;
      padding: 12px 8px;
      overflow-x: hidden;
      text-overflow: ellipsis;

      &--selected {
        color: $color-secondary-main;
        background-color: transparent;
        font-weight: bold;
        padding-right: 20px;

        &::after {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          background-color: transparent;
          background-image: url('../assets/images/checkmark.png');
          background-size: 12px auto;
          padding: 0;
          top: 50%;
          right: $grid-base;
          transform: translateY(-50%);
        }
      }

      &--highlight {
        background-color: $color-secondary-lightest;
        color: $color-secondary-main;

        &::after {
          content: '';
        }
      }

      &:hover {
        background-color: $color-secondary-lightest;
        color: $color-secondary-main;
      }

      &--disabled {
        background-color: transparent;
        color: $color-neutral-lighter;
      }
    }

    &__chip {
      margin-right: $grid-base;
      user-select: none;

      &:not(.filter-chip) {
        max-width: calc(
          ((var(--input-width, #{$input-width}) - #{$input-heigth} - 2px) / var(--limit)) -
          #{$grid-base}
        );
      }

      span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &--limit.chip {
        margin-right: 0;
        margin-left: $grid-base;
        max-width: fit-content;
        vertical-align: top;

        /* the limit chip should be a bit bigger than usual because 
        the chip close button breaks the vertical rythm */
        &.filter-chip {
          height: 22px;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    &--disabled {
      background: transparent;
      opacity: 1;

      .multiselect__tags {
        background-color: $color-layout-card-background;
      }

      .multiselect__single {
        background: $color-layout-card-background;
        color: $color-neutral-main;
      }
    }

    &--height-fixed {
      .multiselect__tags {
        height: $input-heigth;
      }
    }

    /* Deselect all option styling
    (it is always the first option) */
    &--first-option-highlighted .multiselect__element:first-of-type .multiselect__option {
      background-color: transparent;
      color: $color-neutral-lighter;

      &::after {
        display: none;
      }

      &--highlight:not(:hover) {
        background-color: $color-secondary-lightest;
        color: $color-secondary-main;
      }
    }

    // styles for non-fixed height
    &:not(.multiselect--height-fixed) {
      .multiselect__tags {
        padding-top: 4px;
        padding-bottom: 4px;
        flex-wrap: wrap;
      }

      .multiselect__tags-wrap {
        flex-wrap: wrap;
        max-width: 100%;
      }

      .multiselect__chip {
        margin-top: 4px;
        margin-bottom: 4px;
      }

      .multiselect__chip--limit {
        margin-left: 0;
      }
    }
  }

  &__caret {
    position: absolute;
    right: 0;
    height: $input-heigth;
    width: $input-heigth;
    padding: $grid-base;
    color: $color-neutral-lighter;
  }

  &--error {
    .multiselect .multiselect__tags {
      border-color: $color-error-main;
    }

    .dropdown-field__error-message {
      width: 100%;
      margin-top: 0.25rem;
      color: $color-error-main;
    }
  }

  &--inline {
    .dropdown-field__caret {
      width: auto;
      height: auto;
      padding: 5px;
    }

    .multiselect {
      min-height: auto;

      .multiselect__tags {
        height: 32px;
        min-height: auto;
        padding-top: 6px;
      }
    }
  }

  &.invalid {
    .multiselect__tags {
      border: 1px solid $color-error-main;
    }
  }
  /** AUTOSUGGEST */
  .autosuggest.multiselect {
    .multiselect__input,
    .multiselect__placeholder {
      margin-bottom: 0;
    }

    .dropdown-field__caret {
      transform: none;
    }

    &:not(.multiselect--height-fixed) {
      .multiselect__placeholder {
        padding-top: 0;
      }

      .multiselect__input {
        width: auto;
      }

      .multiselect__tags {
        align-items: center;
      }

      .multiselect__tags-wrap {
        margin-right: 8px;
      }
    }

    &--disabled {
      .multiselect__single,
      .chip {
        color: $color-neutral-lighter;
      }

      .chip {
        background: transparent;
        border-color: $color-layout-divider;
      }
    }
  }
}
